.container {
    padding-top: 7%;
    text-align: center;
}

.co {
    padding-top: 4%;
    text-align: center;
}

.heading {
    background-color: rgb(31, 30, 30);
    text-align: center;
}

.heading h1 {
    color: white;
    padding: 1.75rem;
}

div {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.75rem;
    color: white;
    font-family: sans-serif;
    background-color: rgb(31, 30, 30);
    position: fixed;
    bottom: 0;
    width: 100%;
}

h4 {
    padding-top: 1rem;
    font-weight: bold;
}

.down {
    padding: 0.5rem 0;
    background-color: black;
}

.new {
    position: fixed;
    bottom: 150px;
    left: 40%;
    right: 40%;
    margin: auto;
    color: black;
    text-decoration: none;
    font-size: 1rem;
}
